html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ccc;
}

div#top-container {
  display: flex;
  min-height: 100%;
}

div#sidebar {
  width: 20em;
  background-color: #111;
  /* transition: 0.5s; */
}

div#sidebar h1 {
  padding: 8px 8px 8px 32px;
  color: #818181;
  transition: 0.3s;
}

div#sidebar a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

div#sidebar a:hover, div#sidebar .selected {
  color: #f1f1f1;
}

div#sidebar .selected {
  background-color: #222;
}

div#sidebar div.con-status {
  width: 100%;
  height: 3em;
  /* padding: 1em; */
  /* font-size: ; */
  color: #fff;
}

div#sidebar div.con-status p {
  padding-left: 0.5em;
}

div#sidebar .ncon {
  background-color: #d9534f;
}

div#sidebar .con{
  background-color: #5cb85c;
}

div#sidebar div#sidebar-inner {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

div#sidebar div#sidebar-inner div#menu-items {
  flex-grow: 1;
}

div#main-content {
  flex-grow: 1;
}


.border {
  border: 2px solid red;
}

div#version-info {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.8em;
  color: #aaa;
}