<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Smart floor</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="selectPorts.css">
    <link rel="stylesheet" type="text/css" href="displayPage.css">
    <link rel="stylesheet" type="text/css" href="settings.css">
    <link rel="stylesheet" type="text/css" href="node_modules/typeface-roboto/index.css">
    <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
  </head>
  
  <body ng-controller="display">
    <div id="top-container">
      <!-- SIDEBAR -->
      <div id="sidebar">
        <div id="sidebar-inner">
          <div id="menu-items">
            <h1>Smart Floor Visualiser</h1>
            <a ng-click="currentpage='main'" ng-class="{true: 'selected', false: ''}[currentpage=='main']">Port Select</a>
            <a ng-click="currentpage='display'" ng-class="{true: 'selected', false: ''}[currentpage=='display']">Display</a>
            <a ng-click="currentpage='settings'" ng-class="{true: 'selected', false: ''}[currentpage=='settings']">Settings</a>
            <a ng-click="currentpage='debug'" ng-class="{true: 'selected', false: ''}[currentpage=='debug']">Debug</a>
          </div>
          <div ng-show="portsConnected.length > 0" class="con-status con">
            <p>Serials Connected: 
              <span ng-repeat="pc in portsConnected"> {{pc}}</span>
            </p>
          </div>
          <div ng-hide="portsConnected.length > 0" class="con-status ncon">
            <p>Serial Disconnected</p>
          </div>
        </div>

      </div>

      <div id="version-info">
        Version: 1.2.0 <br>
        Dec 18
      </div>

      <!-- MAIN CONTENT -->
      <div id="main-content">
        <!-- Select ports page -->
        <div ng-show="currentpage=='main'" id="main-page">
          <div id="main-page-spacer">&nbsp;</div>
          <div id="main-page-inner">
            <div><h1>Available ports</h1></div>
            <div ng-repeat="p in ports">
              <div class="port-outer">
                <div>{{p.comName}}</div>
                <i class="plugred fa fa-plug" ng-hide="portsConnected.indexOf(p.comName) >= 0"></i>
                <i class="pluggreen fa fa-plug" ng-show="portsConnected.indexOf(p.comName) >= 0"></i>
                <div class="port-inner-spacer">&nbsp;</div>
                <div><button ng-click="connectPort(p.comName)" ng-hide="portsConnected.indexOf(p.comName) >= 0">Open</button></div>
                <div><button ng-click="closePort(p.comName)" ng-show="portsConnected.indexOf(p.comName) >= 0">Close</button></div>
              </div>
            </div>
            <button ng-click="refreshPorts()">Refresh</button>
          </div>
        </div>
        
        <!-- Display page -->
        <div ng-show="currentpage=='display'" id="display-page">
          <!-- <div>&nbsp;</div> -->
          <div id="display-page-inner">
            <canvas id="display"></canvas>
          </div>
        </div>

        <!-- Settings page -->
        <div ng-show="currentpage=='settings'" id="settings-page">
          <div id="settings-page-inner">
            <div>
              <h1>Settings</h1>
              <input type="checkbox" ng-model="settings.disptext">
              <a>Show pressure value text on display</a><br><br>
              <input type="checkbox" ng-model="settings.dispgrid">
              <a>Show grid on display</a><br><br>
              <input type="checkbox" ng-model="settings.dispcom">
              <a>Show centre of mass</a><br><br>
              <input type="checkbox" ng-model="settings.dispcomdraw">
              <a>Drawing mode</a><br><br>
              <a>Number of calibration samples to take:</a><br>
              <input type="number" ng-model="settings.numCalVals"><br><br>
              <a>Max value:</a><br>
              <input type="number" ng-model="settings.max"><br><br>
              <a>Number of points to interpolate:</a><br>
              <input type="number" ng-model="settings.interpNumber"><br><br>
              <a>Centre of Mass threshold:</a><br>
              <input type="number" ng-model="settings.comSumThresh"><br><br>
              <button ng-click="tare()">Tare</button>
            </div>
          </div>
        </div>

        <!-- Debug page -->
        <div ng-show="currentpage=='debug'" id="debug-page">
          <div id="debug-page-inner">
            <div>
              <h1>Debug</h1>
              <div>ID of max: {{maxval}}</div>
              <div>Sum of all: {{sumall}}</div>
              
              <canvas id="loadcells"></canvas>

              <div ng-repeat="l in latestData">
                <h2>Index {{$index}}</h2>
                Offset: {{l.offset}}<br>
                Calibrated: {{l.calibrated}}<br>
                Calibration count: {{l.calCount}}<br>
                Value: {{l.val}}<br><br>   
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    
    
    <script>require('angular')</script>
    <script>require('./index.js')</script>
  </body>
</html>