div#main-page {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100%;
}

div#main-page-spacer {
  height: 25%;
}

div#main-page-inner {
  width: 30em;
  height: auto;
  border: 0.1em solid #111;
  padding: 0.4em;
}

div.port-outer {
  display: flex;
  flex-direction: row;
  margin: 0.2em;
}

div.port-outer div.port-inner-spacer {
  flex-grow: 1;
}

button {
/* div#main-page-inner button { */
  border: 0.1em solid #111;
  background-color: #818181;
  color: #222;
  padding: 0.25em;
  cursor: pointer;
}

i.plugred {
  color: red;
}

i.pluggreen {
  color: green;
}