div#settings-page {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100%;
}

div#settings-page-inner div{
  padding: 5%;
}

div#settings-page-inner {
  width: 100%;
}